.infoSections {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 3rem;
  overflow: hidden;
  max-width: 1300px;

  margin: 2rem auto 0;
}

.tresuasuryMobileMargin {
  margin-left: 20%;
}

.sectionTitle p {
  color: #4c4c4c;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2rem;

  margin: 0;
}

.sectionTitle h2 {
  color: #4c4c4c;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2rem;

  margin: 0;
}

.sectionTitle p {
  color: #c4c4c4;
}

/* Section LEFT */
.sectionLeft {
  display: flex;
  flex-direction: column-reverse;

  opacity: 0;
}

.sectionLeft > div {
  width: 100%;
}

.sectionLeft > div > p {
  font-size: 18px;
  color: #4c4c4c;
  margin: 0;
  font-weight: 300;
  line-height: 22px;
}

.sectionLeft img {
  width: 100%;
}

/* Section RIGHT */

.sectionRight {
  display: flex;
  flex-direction: column;

  opacity: 0;
}

.sectionRight > div {
  width: 100%;
}
.sectionRight > div > p {
  font-size: 18px;
  color: #4c4c4c;
  margin: 0;
  font-weight: 300;
  line-height: 22px;

  text-align: right;
}

.sectionRight img {
  width: 100%;

  max-height: 230px;
}

.sectionRight .sectionTitle {
  text-align: right;
}

.fadeIn {
  animation: fadeIn 400ms ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideInLeft {
  animation: slideInLeft 300ms cubic-bezier(0,.02,.16,1.08) forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInRight {
  animation: slideInRight 300ms cubic-bezier(0,.02,.16,1.08) forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 990px) {
  .infoSections {
    gap: 5rem;
    padding: 0 5rem;
    margin: 5rem auto 0;
  }

  .sectionLeft {
    flex-direction: row;
  }

  .sectionLeft > div {
    width: 54%;
    padding-left: 2.5rem;
  }

  .sectionLeft img {
    width: 46%;
  }

  .sectionLeft img {
    max-height: 230px;
  }

  .sectionLeft > div > p {
    margin: 1rem 0 0;
  }

  .sectionRight {
    flex-direction: row;
  }

  .sectionRight > div {
    width: 54%;
    padding-right: 2.5rem;
  }

  .sectionRight img {
    width: 46%;
  }

  .sectionRight img {
    max-height: 230px;
  }

  .sectionRight > div > p {
    margin: 1rem 0 0;
  }

  .slideInLeft {
    animation: unset;
  }

  .fadeIn {
    animation-duration: 500ms;
  }

  .slideInLeft > div {
    animation: slideInLeft 600ms cubic-bezier(0,.02,.16,1.08) forwards;
  }

  .slideInLeft > img{
    animation: slideInRight 600ms cubic-bezier(0,.02,.16,1.08) forwards;
  }

  .slideInRight {
    animation: unset;
  }

  .slideInRight > div {
    animation: slideInRight 600ms cubic-bezier(0,.02,.16,1.08) forwards;
  }

  .slideInRight > img {
    animation: slideInLeft 600ms cubic-bezier(0,.02,.16,1.08) forwards;
  }


  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-150px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(150px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
