.popupContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  position: fixed;
  bottom: 2rem;
  right: 2rem;

  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #fff;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 2rem 2.5rem;

  border-radius: 30px;

  text-align: right;
}

.popupContainer h2 {
  font-size: 22px;
  font-weight: 600;
  color: #48a2aa;
  margin: 0;
}

.milestone p {
  font-size: 14px;
  margin: 0;
  color: #000;
  font-weight: 600;
}

.milestone p:last-of-type {
  font-size: 12px;
  color: #969696;
}

.closeButton {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  background: none;
  border: none;
}

.closeButton img {
  width: 30px;
}

@media (max-width: 768px) {
  .popupContainer {
    gap: 6px;
    
    bottom: .5rem;
    right: .5rem;
    padding: 2rem 1.5rem;
  }

  .closeButton img {
    width: 25px;
  }
}