@import './css/colors.css';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: url('./assets/topGradient.jpg'), url('./assets/bottomGradient.jpg');
  background-position: center top, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 51%, 100% 50%;
}

html {
  scroll-behavior: smooth;
}