.leftArrow {
  margin-left: 1rem;
  display: inline-block;
  border: none;
  font-size: 2rem;

  background: none;
  color: #000;
}

.rightArrow {
  padding-left: 8px;
  display: inline-block;
  border: none;
  font-size: 2rem;

  
  background: none;
  color: #000;
}

.leftArrow:hover,
.rightArrow:hover {
  opacity: 0.9;
}

.leftArrow:disabled,
.rightArrow:disabled {
  opacity: 0.5;
}

@media (max-width: 992px) {
  .leftArrow {
    margin-left: 1rem;
  }

  .rightArrow {
  }
}
