.roadmap {
  display: flex;
  flex-direction: column;

  margin: 4rem auto 100px;

  max-width: 1444px;
}

.titleWrapper {
  padding: 0 2rem;
}

.roadmap h1 {
  position: relative;
  font-size: 2rem;
  color: #053039;
  font-weight: 700;

  width: 100%;
  text-align: center;
  overflow: hidden;
}

.roadmap h1::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;

  border-radius: 10%;
  height: 3px;
  width: calc(50% - 140px);
  background: #5b6459;
}

.roadmap h1::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;

  border-radius: 10%;
  height: 3px;
  width: calc(50% - 140px);
  background: #5b6459;
}

.roadmap > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #053039;
  line-height: 2rem;

  padding: 0 1.5rem;
  margin: 0;
}

.roadmapContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5rem;
  gap: 1rem;

  padding: 0 .5rem;
}

.roadmapContainer h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #053039;
  line-height: 2rem;

  padding: 0;
  margin: 0;
}

.roadmapContainer h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #48a2aa;
  line-height: 2rem;

  padding: 0;
  margin: 0;
}

.roadmapContainer p {
  line-height: 1.25rem;
  color: #000;
  margin: 0;
  padding: 0;
}

.roadmapColumn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);

  position: relative;
  min-height: 750px;
}

.roadmapColumn:first-of-type {
  text-align: right;
}

.roadmapWaves {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, 30px);

  width: 100%;
  height: 100%;

  background: url('../../assets/verticalRoadmapWaves.svg') no-repeat;
  background-size: 50px 100%;
  background-position: center center;

  grid-row: span 4;
}

 .quarter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.roadmapWavesColumn > .quarter > img {
  width: calc(50% + 12px);
  height: 5px;
}

.roadmapWavesColumn > .quarter:nth-of-type(odd) {
  align-items: flex-end;
}

/*
.quarter > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1rem;
  width: 50%;
  height: 100%;
  min-height: 128px;
}

.quarter:nth-child(odd) > div:first-of-type {
  justify-content: flex-end;
}

.quarter:nth-child(even) > div:last-of-type {
  justify-content: flex-end;
}

.quarter:nth-child(odd) p {
  text-align: right;
}

.quarter:nth-child(even) > div:first-of-type {
  text-align: right;
}

.quarter:nth-child(even) > div:first-of-type::after {
  content: '';
  width: 50px;
  height: 100%;

  position: absolute;
  top: 0;
  right: -1px;

  border-right: 2px solid #34885a;
  border-bottom: 2px solid #34885a;

  opacity: 0;
}

.quarter:nth-child(odd) > div:first-of-type::after {
  content: '';
  width: 50px;
  height: 100%;

  position: absolute;
  top: 0;
  left: calc(100% - 1px);

  border-left: 2px solid #34885a;
  border-bottom: 2px solid #34885a;

  opacity: 0;
}

.quarter:last-of-type {
  min-height: 100px;
}

.quarter:last-of-type > div:last-of-type {
  justify-content: start;
}

.quarter:last-of-type > div:first-of-type::after {
  border-bottom: none;
}

.roadmapAnimation > .quarter > div::after {
  animation: growingroadmap 1s linear forwards;
}

.roadmapAnimation > .quarter:nth-child(2) > div::after {
  animation-delay: 0.5s;
}
.roadmapAnimation > .quarter:nth-child(3) > div::after {
  animation-delay: 1s;
}
.roadmapAnimation > .quarter:nth-child(4) > div::after {
  animation-delay: 1.5s;
}
.roadmapAnimation > .quarter:nth-child(5) > div::after {
  animation-delay: 2s;
}
.roadmapAnimation > .quarter:nth-child(6) > div::after {
  animation-delay: 2.5s;
} */

@media (min-width: 900px) {
  .roadmap {
    margin-top: 6rem;

    padding: 0 4rem;
  }

  .titleWrapper {
    padding: 0;
  }

  .roadmap h1 {
    font-size: 2.5rem;
  }

  .roadmap h1::after {
    width: calc(50% - 175px);
  }

  .roadmap h1::before {
    width: calc(50% - 175px);
  }

  .roadmapContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 180px 1fr;
    gap: 0;
    margin-top: 3rem;
  
    padding: 0 1rem;

    transform: translateX(-4.2%);
  }

  .roadmapContainer h2 {
    font-size: 2rem;
    width: 62px;
  }

  .roadmapContainer h3 {
    font-size: 1.25rem;
    width: 62px;
  }

  .roadmapContainer p {
    font-size: 12px;
    width: 50%;

    white-space: nowrap;
  }

  .roadmapColumn {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 0rem;
  
    position: relative;
    min-height: 80px;
  }

  .roadmapColumn:first-of-type {
    text-align: left;
    grid-row: 3;
  }

  .roadmapColumn:first-of-type > .quarter {
    align-items: center;
  }

  .roadmapColumn:last-of-type > .quarter {
    align-items: flex-end;
  }

  .roadmapWaves {
    position: absolute;
    left: 0;
    top: 50%;
  
    transform: translate(4.2%,-50%);
  
    width: 100%;
    height: 100%;
  
    background-image: url('../../assets/horizontalRoadmapWaves.svg');
    background-size: 100% 80px;
  }

  .roadmapWavesColumn {
    grid-row: 2;
  }

  .roadmapWavesColumn > .quarter > img {
    width: 4px;
    height: calc(50% + 20px);
  }

  .roadmapWavesColumn > .quarter {
    align-items: center;
    justify-content: flex-end;
  }
  
  .roadmapWavesColumn > .quarter:nth-of-type(odd) {
    align-items: center;
    justify-content: flex-start;
  }
}
