.roadmap {
  display: flex;
  flex-direction: column;

  margin: 4rem auto 100px;

  max-width: 1444px;
}

.titleWrapper {
  padding: 0 2rem;
}

.roadmap h1 {
  position: relative;
  font-size: 2rem;
  color: #053039;
  font-weight: 700;

  width: 100%;
  text-align: center;
  overflow: hidden;
}

.roadmap h1::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;

  border-radius: 10%;
  height: 3px;
  width: calc(50% - 190px);
  background: #5b6459;
}

.roadmap h1::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;

  border-radius: 10%;
  height: 3px;
  width: calc(50% - 190px);
  background: #5b6459;
}

.roadmap > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #053039;
  line-height: 2rem;

  padding: 0 1.5rem;
  margin: 0;
}

.roadmapContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5rem;
  gap: 1rem;

  padding: 0 0.5rem;
}

.roadmapContainer h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #053039;
  line-height: 2rem;

  padding: 0;
  margin: 0;
}

.roadmapContainer h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #48a2aa;
  line-height: 2rem;

  padding: 0;
  margin: 0;
}

.roadmapContainer p {
  line-height: 1rem;
  font-size: 14px;
  color: #000;
  margin: 0 0 8px;
  padding: 0;
}

.roadmapColumn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);

  position: relative;
  min-height: 750px;
}

.roadmapColumn:first-of-type {
  text-align: right;
}

.mobileRoadmapWaves {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, 30px);

  width: 50px;
  height: 100%;
}

.desktopRoadmapWaves {
  display: none;
}

.mobileRoadmapWaves path, .desktopRoadmapWaves path {
  stroke-dasharray: 1938;
  stroke-dashoffset: 1938;
}

.quarter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mobileRoadmapLine {
  /* width: calc(50% + 12px); */
  width: 0%;
  height: 5px;
}

.desktopRoadmapLine {
  display: none;
  height: 0%;
  width: 5px;
}

.mobileRoadmapLine path {
  stroke-dasharray: 10;
}

.roadmapWavesColumn > .quarter:nth-of-type(odd) > * {
  margin-left: calc(50% - 12px);
}

/* animations settings */

.roadmapColumn > .quarter {
  opacity: 0;
}

.roadmapColumn:nth-of-type(2) > .quarter {
  opacity: 1;
}

.roadmapAnimation .mobileRoadmapWaves path, .roadmapAnimation .desktopRoadmapWaves path {
  animation: forwardRoadmap 6s ease-in-out forwards;
}

@keyframes forwardRoadmap {
  to {
    stroke-dashoffset: 0;
  }
}

.roadmapAnimation .mobileRoadmapLine {
  animation: forwardLine 600ms ease-in-out forwards;
}

@keyframes forwardLine {
  from {
    width: 0;
  }
  to {
    width: calc(50% + 12px);
  }
}

.roadmapAnimation .desktopRoadmapLine {
  animation: upwardLine 600ms ease-in-out forwards;
}

@keyframes upwardLine {
  from {
    height: 0;
  }
  to {
    height: calc(50% + 20px);
  }
}

.roadmapAnimation .quarter {
  animation: fadeIn 800ms ease-in-out forwards;
}

/* first row */
.roadmapAnimation > .roadmapColumn:nth-child(1) > .quarter:nth-child(1) {
  animation-delay: 1s;
}
.roadmapAnimation > .roadmapColumn:nth-child(2) .quarter:nth-child(1) > * {
  animation-delay: 1.4s;
}
.roadmapAnimation > .roadmapColumn:nth-child(3) > .quarter:nth-child(1) {
  animation-delay: 1.8s;
}

/* second row */
.roadmapAnimation > .roadmapColumn:nth-child(1) > .quarter:nth-child(2) {
  animation-delay: 2s;
}
.roadmapAnimation > .roadmapColumn:nth-child(2) > .quarter:nth-child(2) > * {
  animation-delay: 2.3s;
}
.roadmapAnimation > .roadmapColumn:nth-child(3) > .quarter:nth-child(2) {
  animation-delay: 2.7s;
}

/* third row */
.roadmapAnimation > .roadmapColumn:nth-child(1) > .quarter:nth-child(3) {
  animation-delay: 3s;
}
.roadmapAnimation > .roadmapColumn:nth-child(2) > .quarter:nth-child(3) > * {
  animation-delay: 3.4s;
}
.roadmapAnimation > .roadmapColumn:nth-child(3) > .quarter:nth-child(3) {
  animation-delay: 3.8s;
}

/* fourth row */
.roadmapAnimation > .roadmapColumn:nth-child(1) > .quarter:nth-child(4)  {
  animation-delay: 4s;
}
.roadmapAnimation > .roadmapColumn:nth-child(2) > .quarter:nth-child(4) > * {
  animation-delay: 4.4s;
}
.roadmapAnimation > .roadmapColumn:nth-child(3) > .quarter:nth-child(4) {
  animation-delay: 4.75s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (min-width: 900px) {
  .roadmap {
    margin-top: 6rem;

    padding: 0 4rem;
  }

  .titleWrapper {
    padding: 0;
  }

  .roadmap h1 {
    font-size: 2.5rem;
  }

  .roadmap h1::after {
    width: calc(50% - 245px);
  }

  .roadmap h1::before {
    width: calc(50% - 245px);
  }

  .roadmapContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 180px 1fr;
    gap: 0;
    margin-top: 3rem;

    padding: 0 1rem;

    transform: translateX(-4.2%);
  }

  .roadmapContainer h2 {
    font-size: 2rem;
    width: 62px;
  }

  .roadmapContainer h3 {
    font-size: 1.25rem;
    width: 62px;
  }

  .roadmapContainer p {
    line-height: 1.25rem;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 50%;

    white-space: nowrap;
  }

  .roadmapColumn {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 0rem;

    position: relative;
    min-height: 80px;
  }

  .roadmapColumn:first-of-type {
    text-align: left;
    grid-row: 3;
  }

  .roadmapColumn:first-of-type > .quarter {
    align-items: center;
  }

  .roadmapColumn:last-of-type > .quarter {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .mobileRoadmapWaves {
    display: none;
  }

  .desktopRoadmapWaves {
    display: block;

    position: absolute;
    left: 0;
    top: 50%;

    transform: translate(4.2%, -50%);

    width: 100%;
    height: 80px;
  }

  .roadmapWavesColumn {
    grid-row: 2;
  }

  .roadmapWavesColumn > .quarter {
    max-height: 180px;
  }

  .roadmapWavesColumn > .quarter:nth-of-type(odd) > * {
    margin-bottom: 70px;
    margin-left: 0;
  }

  .mobileRoadmapLine {
    display: none;
  }

  .desktopRoadmapLine {
    display: block;
  }

  .roadmapWavesColumn > .quarter > img {
    width: 4px;
    height: calc(50% + 20px);
  }

  .roadmapWavesColumn > .quarter {
    align-items: center;
    justify-content: flex-end;
  }

  .roadmapWavesColumn > .quarter:nth-of-type(odd) {
    align-items: center;
  }
}
