.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 1rem 2rem;
  margin-top:  -20px;

  height: calc(100vh - 88px);

  opacity: 0;
  animation: fadeIn 300ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.hero img {
  width: 100%;
  max-width: 120px;
  margin: 0 auto 0rem;
}

.hero h2 {
  font-size: 1.8rem;
  text-align: center;
  color: #053039;
  font-weight: 600;
  margin: 4rem 0 0;
}

.hero p {
  font-size: 1rem;
  text-align: center;
  color: #4c4c4c;
  margin: 1rem auto;
  padding: 0;
  font-weight: 400;
  width:  800px;
  max-width: 100%;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;

  margin-top: 2rem;
}

.buttonsContainer a {
  display: flex;
  justify-content: center;
  gap: 1rem;

  padding: 1rem 0;

  font-size: 18px;

  background-color: #024452;
  color: #fff;
  border-radius: 4px;
  font-weight:  600;

  text-decoration: none;

  width: 12rem;
  max-height: 62px;
}

.buttonsContainer a:hover {
  color: #fff;
  background-color: #11545e;
}

.buttonsContainer a > svg {
  display: none;
}

.linkIcon {
  width: 30px;
}

@media (min-width: 650px) {
  .hero {
    padding: 0 1rem 2rem;
    height: calc(100vh - 74px);
  }
  .hero img {
    max-width: 150px;
    margin-bottom: 0;
  }

  .hero h2 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.3rem;
  }

  .buttonsContainer a {
    width: 16rem;
  }

  .buttonsContainer a > svg {
    display: block;
  }
}
