.whalezWrapper {
  align-self: flex-end;
  width: 100%;
}
.whalezContentCol {
  display: flex;
}

.auctionActivityCol {
  padding-top: 4rem;
  align-self: start !important; /* maintains auction arrow buttons fixed from auction to auction  */
}

@media (max-width: 992px) {
  .auctionActivityCol {
    /* background-color: white; */
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
